
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: #c4e2ff;
}
.mainContent{
    background-color: rgba(255, 254, 187, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5%;
    color: #2a4c76;
    font-family: 'Patrick Hand', sans-serif;
    max-width: 700px;

}

#links img{
    width: 50px;
    border-radius: 50%
}

#links {
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 100%;
    max-width:fit-content;
    border-radius: 50%;
}
#links a{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 100%;
    max-width:fit-content;
    border-radius: 52%;
}
.listItems li a{
    text-decoration: none;
    color: #2a4c76;
    background-color: #c4e2ff;
    padding:10px;
    border-radius:10px;
    display: flex;
    justify-content: center;

}
.listItems{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    
}
ul li {
    padding:10px;
    
}

a{
  transition: transform .2s;
}

a:hover {
  transform: scale(1.1);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

button{
  transition: transform .2s;
}
button:hover {
  transform: scale(1.1);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.profilesC:hover {
  transform: scale(1.1);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


#logo{
    width: 200px; 
    height: auto;

}
#formLinks a{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 5%;
    border: 2px solid #c4e2ff;
    border-radius: 10px;
    color: #2a4c76;
    background-color: #c4e2ff;
    white-space: nowrap;
    margin: 2%;
}

.LMS button{
    display: inline-block;
    padding: 8px;
    border: 2px solid #c4e2ff;
    border-radius: 10px;
    color: #2a4c76;
    background-color: #c4e2ff;
    margin: 7px;

}


a{
    display: block;
}

.profilesR{
    display:flex;
    flex-direction: row;
    border-width: 10px;
    padding: 5px;
}

.profilesC{
    display:flex;
    flex-direction: column;
    border: 2px solid #c4e2ff;
    border-radius: 10px;
    margin: 5px;

    
}
.profilesC p{
    display:flex;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
}

#profiles img {
    display:flex;
    width:120px;
    height:auto;
    padding: 5px;
}
p{
    margin-top: 1%;
    margin-bottom: 1%;

    justify-content: center;
    
    
}
hr.rounded {
    border-top: 3px solid #2a4c76;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
}

.underline-text {
    text-decoration: underline;
}



/* Navbar */
.navbar-inverse {
    background-color: #7296c2 ; 
    border-color: transparent ;
    border-radius: 10px;
    padding:10px;
    
}
.navbar-brand,
.navbar-brand:hover,
.navbar-nav li a,
.navbar-nav li a:hover{
    color: #2a4c76 !important;
    background-color: #c4e2ff !important;
    border-radius: 10px ;
    margin:1px;

}
nav .navbar-nav li a:hover{
    border-radius: 10px;
    color:#c4e2ff;
}

/*collapsible button */
.navbar-toggle,
.navbar-toggle:hover{
    background-color: #2a4c76;
    margin-left:5px;


}


/* Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
}


@media (max-width: 600px) {
    body{
        background:none;
        background-color: rgba(255, 254, 187, 1);
    }
    .mainContent{
        box-shadow:none;
        border-radius:0;
    }
}
@media (min-width:768px) {
    .navbar-inverse {
        background-color: transparent !important;
        border-radius: 0;
        margin: 0;
    }

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-nav li a,
    .navbar-nav li a:hover {
        color: #2a4c76 !important;
        margin: 0px;
        
    }
    .navbar-inverse .navbar-collapse {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center;
}
    
}
